<body style="background: linear-gradient(to bottom, #3498db, #2ecc71);">
<div class="container-fluid">
    <div class="row mt-0">
        <div class="col"></div>
        <div class="col-5">
            <br><br><br><br>
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 style="text-align: center;" class="text-dark">Reset Password</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter Email</label>
                            <input type="email" class="form-control" name="primary_email" [(ngModel)]="primary_email"><br>
                            <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="sendotp()">Send OTP</button>
                            <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="sendotp()">Resend OTP</button>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Enter OTP</label>
                            <input type="text" class="form-control" name="otp" [(ngModel)]="otp"><br>
                            <button type="button" class="btn btn-success" (click)="validateotp(otp)">Validate OTP</button>

                        </div>
                        <div *ngIf="otpvalidated">
                            <label for="exampleInputPassword1" class="form-label">Enter New password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <div *ngIf="otpvalidated">
                            <label for="exampleInputPassword1" class="form-label">Retype Password</label>
                            <input type="password" class="form-control" name="repassword" [(ngModel)]="repassword">
                        </div>
                        <!-- <div *ngIf="otpvalidated && retypePasswordTouched && password && retypePassword && password !== retypePassword"
                            class="text-danger">
                            Passwords do not match.
                        </div>
                
                <div *ngIf="otpvalidated && !isPasswordValid()" class="text-danger">
                    Password must be at least 10 characters long, include at least 3 of the following: lowercase
                    letters, uppercase letters, numbers (0-9), special characters (!@#$&^&*), and have no more than 2
                    identical characters in a row.
                </div> -->
                <!-- <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Enter OTP</label>
                            <input type="text" class="form-control" name="otp" [(ngModel)]="secondary_email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success" (click)="sendotp()">Send OTP</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success" (click)="validateotp()">Validate OTP</button>
                            </div>
                        </div> -->
                        <div *ngIf="password !== repassword" class="text-danger">
                            Passwords do not match.
                          </div>
                          <div *ngIf="otpvalidated && !isPasswordValid()" class="text-danger">
                            Password must be at least 10 characters long, include at least 3 of the following: lowercase letters, uppercase letters, numbers (0-9), special characters (!@#$&^&*), and have no more than 2 identical characters in a row.
                        </div>
                <br><br>
                <!-- <button type="button" [disabled]="isemailvalidated" class="btn btn-info" (click)="secondaryRegister(name,last_name,secondary_email)">Submit</button> -->
                <button *ngIf="password === repassword" type="button" class="btn btn-info"
                    (click)="resetpassword(primary_email,password)">Submit</button>
                <!-- <button type="button" class="btn btn-info" (click)="login()">Login</button> -->
                <!-- <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-info" (click)="secondaryRegister(name,last_name,secondary_email)">Submit</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-info" (click)="resetpassword()">Reset Password</button>
                            </div>
                        </div> -->

                <!-- <div class="row mt-2">
                            <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                                <div class="card shadow text-center">
                                    <div class="card-body">
                                        <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
                                    </div>
                                </div>
                            </a>
                        </div> -->
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
</div>
</body>