<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Welcome to application</h4>
                        </div>
                        <button type="button" class="btn btn-info" (click)="logout()">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->
<mat-toolbar color="primary">
    <span>Vault</span>
    <!-- <span class="example-spacer"></span>
    <button mat-button color="accent" (click)="logout()">Logout</button> -->
    <div class="profile-container" (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown()">
        <!-- <img src="../../../assets/images/MAVID.jpg" alt="Profile Picture" class="profile-pic"> -->
        <img [src]="photo_url" alt="Profile Picture" class="profile-pic">
        <div *ngIf="isDropdownVisible" class="context-menu" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY">
            <ul>
              <li (click)="editProfile()">profile</li>
              <li (click)="showlogs()">logs</li>
              <li (click)="terminate()">terminate account</li>
              <li (click)="logout()">logout</li>
            </ul>
        </div>
    </div>
</mat-toolbar>
<br><br>
<div class="button-row">
    <button style="margin-right:20px" *ngIf = "isRoot" mat-raised-button color="warn" (click)="goback()">Back</button>
    <button mat-raised-button (click)="openDialog()" color="primary"
        style="margin-right:20px"><mat-icon>add_box</mat-icon>Create Folder</button>
    <button mat-raised-button id="namehide"
        color="primary"><mat-icon>file_upload</mat-icon><input  type="file" (change)="onFileSelected($event)"></button>
</div>
<br><br>
<br>
<!-- <div *ngIf="contextMenuVisible" class="context-menu" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY">
    <ul>
        <li (click)="openFolder()">Open</li>
        <li (click)="renameFolder()">Rename</li>
        <li (click)="deleteFolder()">Delete</li>
    </ul>
</div>
<mat-list>
    <mat-list-item *ngFor="let folder of folders" (click)="folderClicked(folder)"
        (contextmenu)="showContextMenu($event, folder)">
        <div class="list-item" *ngIf="folder.type == 'folder'">
            <a (dblclick)="folderClicked(folder)">
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle>{{ folder.name }}</div>
            </a>
            <div matListItemLine>{{ folder.updated | date }}</div>
        </div>
    </mat-list-item>
    <mat-list-item *ngFor="let folder of folders" (click)="fileClicked(folder)"
        (contextmenu)="showContextMenu($event, folder)">
        <div class="list-item" *ngIf="folder.type == 'file'">
            <mat-icon>insert_drive_file</mat-icon>
            <div matListItemTitle>{{folder.name}}</div>
            <div matListItemLine>{{folder.updated | date}}</div>
        </div>
    </mat-list-item>
</mat-list> -->
<div *ngIf="contextMenuVisible" class="context-menu" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY">
    <ul>
      <li (click)="openFolder()">Open</li>
      <!-- <li (click)="renameFolder()">Rename</li> -->
      <li (click)="deleteFolder()">Delete</li>
    </ul>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.type === 'folder'" (click)="folderClicked(element)" (contextmenu)="showContextMenu($event, element)"><mat-icon *ngIf="element.type === 'folder'">folder</mat-icon></button>
      <button *ngIf="element.type === 'file'" (click)="folderClicked(element)" (contextmenu)="showContextMenu($event, element)"><mat-icon *ngIf="element.type === 'file'">insert_drive_file</mat-icon></button>
      {{element.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="modified_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified Time</th>
        <td mat-cell *matCellDef="let element"> {{element.modified_time}} </td>
      </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let element"> {{element.size * 0.001}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>